go 1.25.4

use (
	./acceptor
	./acceptor/elasticsearchacceptor
	./acceptor/lokiacceptor
	./acceptor/otqpacceptor
	./acceptor/prometheusacceptor
	./cmd/builder
	./cmd/querier
	./component
	./dispatcher
	./dispatcher/elasticsearchdispatcher
	./dispatcher/lokidispatcher
	./dispatcher/prometheusdispatcher
	./gen
	./pipeline
	./processor
	./processor/authratelimitprocessor
	./processor/queryrewriteprocessor
	./processor/responsefilterprocessor
	./processor/simpleauthzprocessor
	./processor/tenantprocessor
	./qdata
	./qerror
	./querier
)
